body {
  background-color: #337def;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
p {
  color: white;
  font-weight: bold;
  text-align: center;
}

h1 {
  height: 150px;
}
#game-container,
#quiz {
  background-color: white;
  border-radius: 5px;
  border-style: bold;
  border-color: black;
  width: 800px;
  max-width: 80%;
  margin: 50px;
  padding: 30px;
  box-shadow: 0 0 10px 2px;
}
.info-box {
  display: center;
  padding: 5px;
}
.button-container {
  background-color: white;
}
.btn {
  color: #337def;
}

.hidden {
  display: none;
}

#anime {
}
