* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.style {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  min-height: 100vh;
  font-family: "Comme", sans-serif;
}

.border {
  background-color: rgb(237, 166, 247);
  padding: 24px 64px 48px 64px;
  width: 600px;
  height: 680px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 10px 2px;
}

.trivia-title {
  margin: 25px;
  text-align: center;
  font-size: 30px;
}
h1 {
  padding: 3px;
  margin: 32px;
}
p {
  text-align: center;
}
.quiz-score {
  text-align: right;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border: 5px solid var solid grey;
  font-weight: bold;
  width: 100px;
  height: 50px;
  margin: 0.5rem auto 1rem auto;
}
#total-score,
#total-questions {
  text-align: right;
  font-weight: 600;
  font-size: 19.2px;
  margin-bottom: 16px;
  font-weight: bold;
  width: 100px;
  height: 50px;
  margin: 0.5rem auto 1rem auto;
  color: rgb(171, 4, 171);
}

.trivia-question {
  font-size: 19.2px;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 32px;
}

.trivia-question .category {
  font-weight: 450;
  font-size: 1rem;
  background-color: rgb(171, 4, 171);
  color: white;
  padding: 3.2px 6.4px;
  border-radius: 0.2rem;
  display: inline-block;
}

.trivia-selection {
  list-style-type: none;
  margin: 16px 0;
}

.trivia-selection li {
  border-radius: 8px;
  font-weight: 600;
  margin: 11.2px 0;
  padding: 6.4px 19.2px;
  border: 3px solid rgb(171, 4, 171);
  background-color: rgb(171, 4, 171);
  color: white;
  box-shadow: 0 3px 0 0 black;
}

.trivia-list:hover {
  background-color: white;
  color: rgb(171, 4, 171);
}
.trivia-list:active {
  transform: scale(0.95);
}

.footer button {
  background-color: white;
  color: rgb(171, 4, 171);
  border-radius: 0 1px 0 0;
  font-family: "Comme", sans-serif;
  font-size: 19px;
  font-weight: 600;
  padding: 8px 16px;
  margin: 0 auto;
  display: block;
}

#check-answer:hover {
  background-color: rgb(171, 4, 171);
  color: white;
  transition: all 1s ease-out;
}

#play-again {
  display: none;
}
.hidden {
  display: none;
}
